.background
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:  url("../images/rock-fest.jpg");
    background-position-x: center;
    background-position-y: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.backgroundFilter
{
    height: 100%;
    width: 100%;
    background: radial-gradient(rgb(1, 1, 1, 0) 20%, rgb(38, 38, 38, 0.4) 100%);
}


.pageTitle
{
    position: absolute;
    width: 100vw;
    color: #ffd11a; /*#ff9500;*/
    font-family: pop;
    font-size: 8vw;
    text-align: center;
    margin-top: 20vw;
    transition: font-size 1s, transform 1.5s 1s;
}


.eventListContainer
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
}


.eventList
{
    margin-top: 100vh;
    width: 90vw;
    height: 70vh;
    background: rgb(26, 26, 26, 0.9);
    border-top-left-radius: 8vw;
    border-top-right-radius: 8vw;
    transition: transform 1.5s 0.2s;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    overflow: hidden;
}


.scrollWindow
{
    height: 60vh;
    width: 90%;
    margin-top: 10vh;
    overflow-y: scroll;
}


.scrollWindow::-webkit-scrollbar
{
    width: 0;
}


.scrollContent
{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column;
}


.dateSpacer
{
    width: 100%;
    height: 5vh;
    color: #ff9500;
    font-family: pop;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2vh;
}


.eventRow
{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    margin-bottom: 3.5vh;
    width: 100%;
    height: 16vh;
    justify-content: center;
}


.event
{
    width: 45%;
    height: 100%;
    background: rgb(50, 50, 50, 0.4);
    display: flex;
    flex-direction: column;
    flex-flow: column;
    overflow: hidden;
    box-shadow: 0 0 1vw transparent;
    animation: boxUnglow 0.2s ease-in-out;
}

.event:hover
{
    box-shadow: 0 0 1vw rgb(100, 100, 100);
    animation: boxGlow 0.4s ease-in-out;
}

.event > div
{
    margin: 2%;
    overflow: hidden;
}


@keyframes boxGlow
{
    from
    {
        box-shadow: 0 0 1vw transparent;
    }
    to
    {
        box-shadow: 0 0 1vw rgb(100, 100, 100);
    }
}

/* The "glow down" animation when not hovering */
@keyframes boxUnglow
{
    from
    {
        box-shadow: 0 0 1vw rgb(100, 100, 100);
    }
    to
    {
        box-shadow: 0 0 1vw transparent;
    }
}


.leftEvent
{
    margin-right: 1.75vh;
}


.rightEvent
{
    margin-left: 1.75vh;
}


.eventName
{
    font-family: coolvetica;
    font-size: 1.3vw;
    color: #ffd11a;
    white-space: nowrap;
}


.eventInfoContainer
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    margin-top: 0.5vh;
}


.eventArtistContainer
{
    width: 50%;
    font-family: coolvetica;
    font-size: 1.1vw;
    color: #ff9500;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    height: 3vh;
}


.eventArtist
{
    padding-right: 0.5vw;
    white-space: nowrap;
}


.addArtist
{
    width: 10%;
}


.addArtistButton
{
    position: relative;
    background: none;
    border: none;
    color: #ff9500;
    font-size: 1.4vw;
    top: -0.75vh;
    left: -0.5vw;
    text-shadow: 0 0 0.5vw transparent, 0 0 1vw transparent;
    animation: symbolUnglow 0.3s ease-in-out;
}


.addArtistButton:hover
{
    animation: symbolGlow 0.1s ease-in-out;
    text-shadow: 0 0 0.5vw #ff9500, 0 0 1vw #c07001;
}


.removeArtist
{
    width: 10%;
}


.removeArtistButton
{
    position: relative;
    background: none;
    border: none;
    color: #ff9500;
    font-size: 1.4vw;
    top: -0.5vh;
    left: -0.8vw;
    text-shadow: 0 0 0.5vw transparent, 0 0 1vw transparent;
    animation: symbolUnglow 0.3s ease-in-out;
}

.removeArtistButton:hover
{
    text-shadow: 0 0 0.5vw #ff9500, 0 0 1vw #c07001;
    animation: symbolGlow 0.1s ease-in-out;
}


/* The "glow up" animation when hovering */
@keyframes symbolGlow
{
    from
    {
        text-shadow: 0 0 0.5vw transparent, 0 0 1vw transparent;
    }
    to
    {
        text-shadow: 0 0 0.5vw #ff9500, 0 0 1vw #c07001;
    }
}

/* The "glow down" animation when not hovering */
@keyframes symbolUnglow
{
    from
    {
        text-shadow: 0 0 0.5vw #ff9500, 0 0 1vw #c07001;
    }
    to
    {
        text-shadow: 0 0 0.5vw transparent, 0 0 1vw transparent;
    }
}


.eventCity
{
    width: 50%;
    font-family: coolvetica;
    font-size: 1.1vw;
    color: #ff9500;
    text-align: right;
}


.eventButtonContainer
{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
}


.eventPrice
{
    width: 20%;
    font-family: coolvetica;
    font-size: 1.1vw;
    color: #ff9500;
}


.saveEventButton
{
    background: none;
    border: none;
    font-family: coolvetica;
    font-size: 1.3vw;
    color: #ffd11a;
    margin-top: 3vh;
    transition: font-size 0.2s;
    text-shadow: 0 0 0.5vw transparent, 0 0 1vw transparent;
    animation: symbolUnglow 0.3s ease-in-out;
}

.saveEventButton:hover
{
    font-size: 1.5vw;
    text-shadow: 0 0 0.5vw #ff9500, 0 0 1vw #c07001;
    animation: symbolGlow 0.1s ease-in-out;
}


.eventPostcode
{
    width: 20%;
    font-family: coolvetica;
    font-size: 1.1vw;
    color: #ff9500;
    text-align: right;
}